/*<link href="styles/style.css" rel="stylesheet">*/
html    {background-color: white; 
        font-family: Helvetica, Helvetica, sans-serif;
        text-align: center;
        }

h1  {font-size: 100px;
    text-align:center;
    }

p   {text-align: justify;
    font-size: 150px;
    }

a   {text-align: justify;
    font-size: 150px;
    }
