/*<link href="styles/style.css" rel="stylesheet">*/
html    {background-color:lightpink; 
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        }

h1  {font-size: 100px;
    text-align:center;
    color: seagreen;
    }

p   {text-align: justify;
    font-size: 150px;
    color:seagreen
    }

a   {text-align: justify;
    font-size: 150px;
    color: seagreen;
    }
